

/* main body CSS */
#introParagraph {
    text-align: center;
}

main {
    height: 80%;
}

/* footer CSS */
#footerCSS {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
}