/* header CSS */
#titleCSS {
    text-align: center;
}

.headerCSS > .links {
    display: flex;
    justify-content: space-evenly;
}

/* search history */
#searchHistory {
    height: 300px;
    margin-top: 1%;
}

/* main body CSS */
#introParagraph {
    text-align: center;
    font-size: large;
}
#searchButtonModal {
padding-bottom: 2%;
margin-bottom: 1%;
}

#buttonCSS {
    padding-left: none;
}

.mainBodyCSS {
    height: 500px;
    border: 2px solid #9e9e9e;
    border-radius: 1%;
}

/* li created by js for watchlist */
.savedWatchlistItems {
    width: 150px;
    border: 2px solid #9e9e9e;
    padding: 1%;
    margin: 5px;
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* footer CSS */
#footerCSS {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
}

